[Desktop Entry]
Type=Application
Name=PalinGoneOS Welcome & Updater
Comment=Bienvenue et mise à jour de PalinGoneOS
Exec=palin-gone-os-updater
Icon=system-software-update
Categories=System;Settings;
Terminal=false
